# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Flask instance & config
instance/
*.sqlite3

node_modules/
static/media/

# Frontend build artifacts
dist/
build/
*.log

# IDEs and editors
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
