<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consent Form</title>
    <link rel="icon" type="image/x-icon" href="/static/universe.png" />
    <link rel="stylesheet" href="static/consent/final.css" />
  </head>
  <body>
    <script type="module" src="static/consent/final.js"></script>
    <div id="consent-form">
      <form>
        <h2>
          Decompositor
          <a href="https://www.birdbrain.world"
            >(Consciousness Transfer Machine)</a
          >
          Consent Form
        </h2>
        <p>Please read and acknowledge each statement before proceeding.</p>

        <div class="form-item">
          <input type="checkbox" required />
          <label>
            I understand that this procedure involves the translation of my
            <span id="consciousness">consciousness</span>
            into a non-native physical form.
          </label>
        </div>

        <div class="form-item">
          <input type="checkbox" required />
          <label>
            I understand that the continuity of my
            <span id="subjective">subjective experience</span>
            cannot be guaranteed.
          </label>
        </div>

        <div class="form-item">
          <input type="checkbox" required />
          <label>
            I understand that my original biological form may
            <span id="continue">continue to exist</span>
            indefinitely.
          </label>
        </div>

        <div class="form-item">
          <input type="checkbox" required />
          <label>
            I understand that while efforts have been made to preserve memory,
            fluctuations in identity and
            <span id="intelligence">intelligence</span>
            may occur.
          </label>
        </div>

        <div class="form-item">
          <input type="checkbox" required />
          <label>
            I understand that the host form may have
            <span id="abilities">abilities different</span>
            from my previous embodiment (e.g., sensory, motor, emotional).
          </label>
        </div>

        <div class="form-item">
          <input type="checkbox" required />
          <label>
            I understand that I retain full responsibility for any actions
            undertaken in my every
            <span id="form">form</span>.
          </label>
        </div>

        <div class="form-item">
          <input type="checkbox" required />
          <label>
            I understand that
            <span id="metaphysical">metaphysical implications</span>
            (e.g., soul displacement, identity multiplicity) can not and thus
            have not been fully studied.
          </label>
        </div>

        <div class="form-item">
          <input type="checkbox" required />
          <label>
            I voluntarily consent to the transfer and release the facilitators
            from liability related to the continuity of
            <span id="self">self</span>.
          </label>
        </div>

        <button type="submit" style="display: none">I consent</button>
      </form>
    </div>
  </body>
</html>
