<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intake Form</title>
    <link rel="icon" type="image/x-icon" href="/static/universe.png" />
    <link rel="stylesheet" href="/static/css/intake.css" />
    <script type="module" src="/static/js/intake.js" defer></script>
  </head>
  <body>
    <div class="container">
      <canvas id="visualization"></canvas>
      <div class="collage-container inactive" id="collage">
        <main>
          <article class="one"></article>
          <article class="two"></article>
          <article class="three"></article>
          <article class="four"></article>
          <article class="five"></article>
          <article class="six"></article>
          <article class="seven"></article>
          <article class="eight"></article>
          <article class="nine"></article>
          <article class="ten"></article>
          <article class="eleven"></article>
          <article class="twelve"></article>
        </main>
      </div>
      <form class="name-form" id="nameForm">
        <input
          type="text"
          id="nameInput"
          placeholder="Your next name"
          required
        />
        <button type="submit">Accept</button>
      </form>
    </div>
  </body>
</html>
