{% extends "components/stepbase.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/css/intake.css">
    <script type="module" src="/static/js/intake.js" defer></script>

    <div class="container">
        <canvas id="visualization"></canvas>
        <div class="collage-container inactive" id="collage"></div>
        <form class="name-form" id="nameForm">
            <input type="text" id="nameInput" placeholder="Your next name" required>
            <button type="submit">Accept</button>
        </form>
    </div>
{% endblock %}