{% extends "components/stepbase.html" %} {% block content %}
<script
  type="text/javascript"
  src="https://unpkg.com/meyda@5.6.3/dist/web/meyda.min.js"
></script>
<link rel="stylesheet" href="/static/css/carousel.css" />
<div class="carousel-container">
  <div class="carousel-item">
    <video autoplay muted loop playsinline>
      <source src="/static/media/video1.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="carousel-item">
    <video autoplay muted loop playsinline>
      <source src="/static/media/video3.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="carousel-item">
    <video autoplay muted loop playsinline>
      <source src="/static/media/video2.mp4" type="video/mp4" />
    </video>
  </div>
</div>
<script type="module" src="/static/js/process.js"></script>
{% endblock %}
